<!DOCTYPE html>
<html lang="cs" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Titulek stránky - blok pro přepsání v konkrétní šabloně #}
    <title>{% block title %}Default Title{% endblock %}</title>

    {# Zde se načítá Bootstrap CSS #}
    {# Protože adresář Public je kořenem celého webu (tzv. Document Root), musí se použít absolutní cestu začínající lomítkem (/). #}
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    {# (placeholder pro dodatečné budoucí CSS) #}
    {% block stylesheets %}{% endblock %}
</head>
<body>

{# Navbar/header #}
{% block header %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/">Gronn 2025</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/">Domů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/program/">Program</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/publications/">Publikace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">O nás</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if session.user %}
                        {% if session.user.role == 100 or session.user.role == 200 %}
                            <li class="nav-item"><a href="/admin/dashboard" class="nav-link">ADMIN</a></li>
                        {% endif %}
                        <li class="nav-item">
                            <span class="nav-link fw-semibold">{{ session.user.nickname }}</span>
                        </li>
                        <li class="nav-item"><a href="/auth/logout" class="nav-link">Odhlásit</a></li>
                    {% else %}
                        <li class="nav-item"><a href="/auth/login" class="nav-link">Přihlásit</a></li>
                        <li class="nav-item"><a href="/auth/register" class="nav-link">Registrovat</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{# Hlavní blok pro obsah stránky (přepisuje se vždy) #}
<main class="container mt-4">
    {% block content %}{% endblock %}
</main>

{% block footer %}
    <footer class="text-center py-3 mt-5 bg-body-tertiary">
        <p>&copy; {{ "now"|date("Y") }} Jan Kopačka. Všechna práva vyhrazena.</p>
    </footer>
{% endblock %}

{# Zde se načítá Bootstrap JavaScript #}
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

{# (placeholder pro dodatečné budoucí JS) #}
{% block javascripts %}{% endblock %}

</body>
</html>