<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Titulek stránky - blok pro přepsání v konkrétní šabloně #}
    <title>{% block title %}Default Title{% endblock %}</title>

    {# Zde se načítá Bootstrap CSS #}
    {# Protože adresář Public je kořenem celého webu (tzv. Document Root), musí se použít absolutní cestu začínající lomítkem (/). #}
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    {# (placeholder pro dodatečné budoucí CSS) #}
    {% block stylesheets %}{% endblock %}
</head>
<body>

{# Navbar/header #}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Konference XXX</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Domů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">O nás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{# Hlavní blok pro obsah stránky (přepisuje se vždy) #}
<main class="container mt-4">
    {% block content %}{% endblock %}
</main>

{% block footer %}
    <footer class="text-center py-3 mt-5 bg-light">
        <p>&copy; {{ "now"|date("Y") }} Jan Kopačka. Všechna práva vyhrazena.</p>
    </footer>
{% endblock %}

{# Zde se načítá Bootstrap JavaScript #}
<script src="/js/bootstrap.bundle.min.js"></script>

{# (placeholder pro dodatečné budoucí JS) #}
{% block javascripts %}{% endblock %}

</body>
</html>