{% extends 'Base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-boWdy-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Vítejte!</h1>
            <p class="col-md-8 fs-4">Pojďte se s námi ponořit do světa moderních technologií a jejich potenciálu změnit svět.</p>
            <button class="btn btn-primary btn-lg" type="button">
                Plán konference
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Publikace</h2>
            <p>Autoři našich publikací jsou nedoceněným zdrojem informací. Neváhejte a staňte se jedním z nich. </p>
        </div>
        <div class="col-md-4">
            <h2>Recenze</h2>
            <p>Chtěli byste přístup k neveřejným článkům? Registrujte se a podejte si žádost o status recenzenta. </p>
        </div>
        <div class="col-md-4">
            <h2>Chcete víc?</h2>
            <p>Pokud si myslíte, že je Vaše činnost v rámci Gronn nadrpůměrná, můžete nám napsat pro hlubší spolupráci. </p>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Modal zpráva. Ukázka, že JavaScript Bootstrapu funguje!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}