{% extends 'Base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-boWdy-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Vítejte!</h1>
            <p class="col-md-8 fs-4">Pojďte se s námi ponořit do světa moderních technologií a jejich potenciálu změnit svět.</p>
            <button class="btn btn-primary btn-lg" type="button">
                Program konference
            </button>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="h-100 card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Publikace</h4>
                </div>
                <div class="card-body">
                    <p>Autoři našich publikací jsou nedoceněným zdrojem informací. Neváhejte a staňte se jedním z nich. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="h-100 card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Recenze</h4>
                </div>
                <div class="card-body">
                    <p>Chtěli byste přístup k neveřejným článkům? Registrujte se a podejte si žádost o status recenzenta.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="h-100 card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Chcete víc?</h4>
                </div>
                <div class="card-body">
                    <p>Pokud si myslíte, že je Vaše činnost v rámci Gronn nadrpůměrná, můžete nám napsat pro hlubší spolupráci.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO dát pryč -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Modal zpráva. Ukázka, že JavaScript Bootstrapu funguje!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}